body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-section {
    box-sizing: border-box;
    width: calc(33.33% - 20px); /* El 20px representa el margen derecho e izquierdo */
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #333;
}

.label-section {
    box-sizing: border-box;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #333;
}

.button-section {
    box-sizing: border-box;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #333;
}

.calculator-section {
    box-sizing: border-box;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    margin-top: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#interesante.girar-rebotar {
    animation: girarRebotar 1s ease-in-out;
}

@keyframes girarRebotar {
    0%, 20%, 50%, 80%, 100% {
        transform: rotate(0) translateY(0);
    }
    40% {
        transform: rotate(0) translateY(-30px);
    }
    60% {
        transform: rotate(0) translateY(-15px);
    }
    100% {
        transform: rotate(360deg) translateY(0);
    }
}
